<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.lingcaibao.weixin.user.repository.RolePermissionDao">

	<resultMap id="resultMap" type="com.lingcaibao.weixin.user.entity.RolePermission">
        <result property="id" column="id"/>
        <result property="roleid" column="roleid"/>
        <result property="permissionid" column="permissionid"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		id,roleid,permissionid
	</sql>
	
	<!-- 获取用户: 输出直接映射到对象 -->
	<select id="get" parameterType="Long" resultType="RolePermission">
		SELECT <include refid="columns" />
		FROM tab_role_permission
		WHERE id=#{id}
	</select>
	

	<!-- 查询用户, 不分页 -->
	<select id="search" parameterType="map" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM tab_role_permission
		<where>
	       <if test="roleid != null and roleid != ''">
				AND roleid = #{roleid}
		   </if>
	       <if test="permissionid != null and permissionid != ''">
				AND permissionid = #{permissionid}
		   </if>
		</where>
	</select>
	
	<!-- 分页查询 -->
	<select id="searchPage" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM tab_role_permission
		<where>
	       <if test="searchFields.roleid != null and searchFields.roleid != ''">
				AND roleid = #{searchFields.roleid}
			</if>
	       <if test="searchFields.permissionid != null and searchFields.permissionid != ''">
				AND permissionid = #{searchFields.permissionid}
			</if>
		</where>
	</select>
	
	<!-- 新增 -->
	<insert id="insert" parameterType="RolePermission" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tab_role_permission (
        	roleid,
        	permissionid
		) VALUES (
        	#{roleid},
        	#{permissionid}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" >
        UPDATE tab_role_permission
		<set>
			roleid = #{roleid},
			permissionid = #{permissionid}
		</set>
        WHERE 
	        id = #{id}
	</update>
	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="Long">
	     DELETE FROM tab_role_permission WHERE id=#{id}
	</delete>
</mapper> 
